*{
    margin: 0;
    padding: 0;
}
#main_heading{
    font-family: "Roboto Mono", monospace;
    margin: 7% 50%;
    color: rgba(55, 145, 127, 0.993);
}

#main_quotes{
    background-color: brown;
    margin: 4% 10% .5% 10%;
    border-radius: 10px 10px 0px 0px;
    height: 40vh;
    padding: 1%;
}
#main_aut_name{
    background-color: brown;
    margin: 0% 10%;
    height: 10vh;
    border-radius: 0px 0px 10px 10px;
}


